#form-commentInfo{ width: 100%; } 
#comment-count{ margin-bottom: 10px; } 
#comment-input{ width: 50%; height: 3.3em; } 
#submit{ background-color: rgb(231, 231, 231); width: 5.5em; height: 3.3em;; font-size: 15px; font-weight: bold; color: rgb(0, 0, 0); } 
.voteUp, .voteDown{ width: 3.5em; height: 1.9em; background-color: #cacaca; } 
#comments{ margin-top: 10px; } 
.eachComment{ width :50%; margin: 10px; padding: 0.5em; border-bottom: 1px solid #c1bcba; } 
.eachComment .name{ font-size: 1.5em; font-weight: bold; margin-bottom: 0.3em; display: flex; justify-content: space-between; } 
.eachComment .inputValue{ font-size: 1.2em; font-style: italic; } 
.eachComment .time{ font-size: 0.7em; color: #c1bcba; font-style: oblique; margin-top: 0.5em; margin-bottom: 0.5em; } 
.eachComment .voteDiv{ display: flex; justify-content: flex-end; } 
.eachComment .deleteComment{ background-color: rgb(0, 0, 0); color: aliceblue; border-style: none;}

.modal{ /* 모달 css 정보는 https://codepen.io/sdthornton/pen/wBZdXq 여기참고하면 됨 */ 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
    /* 모달창 크기 100% 만들기 위한 설정 => 스크린에 꽉채운거. */ 
    position: fixed; top : 0; left : 0; width: 100%; height : 100%; display: flex; justify-content: center; align-items: center; 
} 
/* 모달창 뜨면서 뒤에 오버레이 배경준거. 모달창하고 같이 끌어옴. */ 
.modal__overlay{ background-color: rgba(0,0,0,0.6); width: 100%; height : 100%; position: absolute; } 
.modal__content{ background-color: white; padding: 50px 100px; text-align: center; position: relative; width : 15%; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); border-radius: 15px; } 
.modal__content #modifyVal{ margin-bottom: 1em; width: 100%; height: 3.3em; } #inBtn{ display: flex; justify-content: center; } 
#inBtn #ok { all : unset; background-color: steelblue; color: white; padding: 5px 20px; border-radius: 5px; cursor: pointer; margin-right : 10px; } 
#inBtn #cancle { all : unset; background-color: steelblue; color: white; padding: 5px 20px; border-radius: 5px; cursor: pointer; } 
.hidden{ display: none; }
